name: TS Server Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.AWS_EC2_KEY }}
          envs: ENV_FILE
          script: |
            cd /home/ubuntu/narsha_back
            echo "$ENV_FILE" > .env
            git pull origin main
            npm install
            npm run build
            pm2 restart all || pm2 start dist/index.js --name "narsha-server"
        env:
          ENV_FILE: ${{ secrets.ENV_FILE }}